<h3>Who to Follow</h3><br>

<% User.all.each do |user| %>
  <div class="d-flex align-items-baseline">
    <div>
      <%= link_to users_show_path(user.id) do %>
      <image class="profile-picture3"<%= image_tag display_photo(user) %>
    </div>
    <div class="px-2">
      <%= user.fullname %><br/>
      <small>@<%= user.username %></small><br/><br>
    <% end %>
    </div>
  </div>
<% end %>
