<div class="row">
  <div class="col-xs-12">
    <div class="jumbotron">
      <div class="container">
        <p>HSHSHS</p>
      </div>
    </div>

    <h3>See <u>@<%= @user.username %></u> thoughts:</h3><br>

  <ul>
    <% @user_opinions.each do | opinion | %>
      <li><%= opinion.body %> <br> 
      <small>Tweeted at <%= opinion.created_at %></small></li><br>
    <% end %>
  </ul>
  </div>
</div>
