/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 /*
 *= require font-awesome
 */

 body {
   margin: 0;
   padding: 0;
 }

 .saved-blue {
   background-color: #52a6e7;
   color: #fff;
 }

 .sidebar {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: stretch;
  background-color: #213346;
  min-width: 250px;
  max-width: 250px;
  color: #fff;
   a {
     color: #fff;
   }
 }

 .content {
  background-color: #eee;
  padding: 20px;
  margin: 0 -20px; /* indenta o padding negativo para preservar o grid */
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

footer {
  background-color: #333;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px; 
  li {
    text-align: right;
    padding: 10px;
    color: pink;
  }
}