    <div class="container">
      <div class="row">

        <div class="col-xs-3">
          <div class="panel panel-default">
            <div class="panel-body">
              <%= render 'layouts/sidebar' %>
            </div>
          </div>
        </div>

        <div class="col-xs-6">
          <div class="panel panel-default">
            <div class="panel-body">
              <%= yield %>
            </div>
          </div>
        </div>
          
        <div class="col-xs-3">
          <div class="panel panel-default">
            <div class="panel-body">
              <p>lalalala</p>
            </div>
          </div>
        </div>

        </div> <!-- end of ROW-->
      </div><!-- end of CONTAINER-->