<header>

  <div class="logob h3">
    <%= link_to "TweetHub", root_path, :class => 'brand' %>
  </div>

  <div class="main-nav navbar navbar-expand-lg navbar-static-top saved-blue d-flex justify-content-end px-4">   
    <div class="navbar-right">
      <ul class="nav navbar-nav">
        <%= display_functional_navigation(@user) %>
      </ul>
    </div>
  </div> 
</header>
